/*
To-do

fix exit move-it div to lign up with move it button
make lists come transition like the video
*/

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  white-space: nowrap;
}

header {
  background-color: black;
  height: 8vh;
  display: block;
  position: fixed;
  width: 100vw;
  z-index: 5;
}

a {
  text-decoration: none;
}

button {
  text-decoration: none;
  border: none;
  background-color: rgba(0,0,0,0);
  font-size: 24px;
}

.plus-circle, .plus-circle-background {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid rgba(255,255,255,.8);
  background-color: none;
  border-color: inherit;
  display: inline-block;
  transition: transform 200ms, border-color 200ms
}

.plus-circle:before, .plus-circle:after {
  content: "";
  display: block;
  width: 28px;
  position: relative;
  top: 19px;
  margin-left: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: inherit;
}

.plus-circle:after {
  transform: rotate(90deg);
  top: 17px;
}

.plus-circle-background {
  position: absolute;
  opacity: 0;
  transition: opacity 300ms;
}

button:active .plus-circle-background {
  opacity: 1;
}

button:active .plus-circle, button:active .plus-circle-background {
  transform: scale(.90);
  border-color: white;
}

button:hover {
  opacity: .8;
}

button[disabled]:hover {
  opacity: 1;
}

input:focus, button:focus {
  outline: none;
}

/*Home Page*/

.home-black-div {
  background-color: #222;
  height: 100vh;
  width: 0px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  transition: right 600ms;
}

.stretch-right {
 animation: stretch-right 600ms ease 50ms 1 normal forwards;
}

.stretch-left {
  right: 55vw;
  animation: stretch-left 600ms ease 0ms 1 normal forwards;
}

.stretch-right-less {
  animation: stretch-right-less 600ms ease 0ms 1 normal forwards;
}

.home-white-div {
  display: block;
  position: absolute;
  width: 100vw;
  top: 0px;
}

.home-title {
  color: white;
  font-size: 5em;
  position: absolute;
  left: 50px;
  top: 50px;
  line-height: 1.5ex;
}

.home-description {
  font-size: 1.5em;
  color: #8982C7;
  position: absolute;
  right: -300px;
  top: 115px;
  width: 440px;
  font-weight: 600;
}

.login-button {
  position: absolute;
  right: 100px;
  top: 155px;
  border-radius: 50%;
  border: 3px solid red;
  width: 70px;
  height: 70px;
  font-size: 17px;
  color: red;
  padding-bottom: 10px;
  font-weight: 600;
  opacity: 0;
  transition: background-color 150ms, transform 100ms, content 1ms ease 400ms;
  animation: fade 600ms ease 200ms 1 normal forwards;
}

.login-button:active {
  transform: scale(.97);
  background-color: red;
}

.login-button:hover {
  background-color: rgba(255,0,0,.2);
}

.sign-in-button {
  padding: 0px;
  padding-left: 10px;
  font-size: 38px;
  color: white;
  background-color: red;
}

.sign-in-button:hover {
  background-color: red;
}

.go-to-register {
  position: absolute;
  right: 90px;
  top: 200px;
  font-size: 14px;
  width: 90px;
  color: blue;
  display: block;
  margin-top: 150px;
}

.go-to-register:hover {
  text-decoration: underline;
}

/*Profile*/

.user-letter {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  color: rgba(0,0,0,.4);
  font-size: 55px;
  text-align: center;
  line-height: 90px;
  margin: 130px 10px 10px 30px;
  display: inline-block;
}

.user-email-and-logout {
  color: rgba(255,255,255,.7);
  display: inline-block;
  margin-left: 25px;
}

.logout {
  color: inherit;
  margin-top: 20px;
  font-size: 16px;
  display: block;
  padding: 0px;
  font-weight: 600;
}

.your-projects {
  font-weight: 600;
  color: white;
  margin-left: 15px;
  display: block;
  border-bottom: 1px solid rgba(255,255,255,.1);
  padding-bottom: 13px;
  margin-right: 15px;
  margin-bottom: 0px;
}

.project-list {
  position: absolute;
  width: 40vw;
  max-width: 400px;
  white-space: normal;
}

.project-name, .project-date, .project-name-col, .project-date-col {
  color: white;
  display: inline-block;
  margin: 5px 5% 5px 5%;
  min-width: 15vw;
}

.project-date {
  margin-right: 0px;
}

.project-link:hover .delete-project {
  visibility: visible;
}

.project-link {
  display: flex;
  flex-direction: row;
}

.delete-project {
  visibility: hidden;
  position: absolute;
  right: 10px;
  display: inline-block;
  color: rgba(255,255,255,.7);
  padding-top: 3px;
  font-size: 17px;
}

.delete-project:hover {
  background: rgba(255,255,255,.3);
  border-radius: 3px;
}

.project-name-col, .project-date-col {
  color: rgba(255,255,255,.5);
  font-size: smaller;
  margin: 8px 5% 15px 5%;
}

.new-project {
  margin: 30px 10px 100px 10px;
  color: white;
  display: inline-block;
  font-size: 40px;
}

.new-project p {
  margin-left: 20px;
  transform: translateY(-8px);
  display: inline-block;
  font-size: 15px;
}

.project-name {

}

.project-date {

}

/*header*/
.menu-button {
  position: absolute;
  height: 50px;
  margin-left: 3px;
  text-align: left;
  font-size: 14px;
  display: block;
  color: white;
  right: 10px;
}

.menu-button:hover {
  opacity: 1;
}

.menu-bars {
  height: 3px;
  background-color: #D36E51;
  width: 30px;
  border-radius: 2px;
}

.menu-bars:before {
  content: "";
  display: block;
  height: 3px;
  background-color: #D36E51;
  width: 30px;
  position: relative;
  bottom: 10px;
  border-radius: 2px;
}

.menu-bars:after {
  content: "";
  display: block;
  height: 3px;
  background-color: #D36E51;
  width: 30px;
  position: relative;
  top: 7px;
  border-radius: 2px;
}

.menu-button:hover {
  opacity: .8;
}

.menu {
  position: fixed;
  display: inline-block;
  z-index: 3;
  width: 60px;
  height: 100vh;
  background-color: #222;
  transition: width 350ms;
}

.menu-longer {
  width: 400px;
}

.exit-menu {
  color: rgba(255,255,255,.8);
  position: absolute;
  margin: 10px;
  right: 0px;
}

.opaque-menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255,255,255,.7);
  z-index: 3;
}

/*register div*/

.error-message {
  position: absolute;
  right: 240px;
  top: 100px;
  color: red;
  width: 240px;
  text-align: center;
  animation: fade .5s 0s forwards;
}

.register-sign-in-form {
  position: absolute;
  right: 240px;
  top: 130px;
}

.register-name, .register-password, .register-email {
  right: 0px;
  transform: translateY(10px);
  border: none;
  border-bottom: 2px solid rgba(0,0,0,.6);
  margin-top: 13px;
  font-size: 18px;
  width: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  animation: slide-left 300ms ease 0ms 1 normal forwards;
} 

.register-password, .register-email {
  top: 48px;
}

.register-password {
  top: 95px;
}

.register-sign-in-inputs {
  position: absolute;
  right: 0px;
}

.register-sign-in-labels {
  position: absolute;
  right: 250px;
}

.register-name-label, .register-password-label, .register-email-label {
  color: red;
  display: block;
  margin-top: 30px;
}

.project-title {
  border: none;
  display: block;
  position: fixed;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-style: italic;
  margin-top: 3px;
  color: black;
}

/*initial css styling*/

#add-list {
  vertical-align: top;
  font-size: 35px;
  margin: 60px 100px 33px 10px;
  position: absolute;
  transition: left 700ms cubic-bezier(.60,-0.27,.21,1.2), color 500ms ease 500ms;
  padding-right: 100px;
}

#add-list p {
  display: inline-block;
  font-size: 14px;
  margin: auto auto auto 15px;
}

.list-buttons {
  display: inline-block;
  position: relative;
}

.list-title {
  min-height: 47px;
  border: none;
  position: relative;
  text-align: left;
  background-color: white;
  padding: 20px 0px 8px 10px;
  margin: 5px 7px 0px 7px;
  width: 358px;
  font-size: 40px;
  resize: none;
  color: inherit;
}

.list-title-div {
  margin-bottom: 0px;
  height: 0px;
  overflow: hidden;
  animation: stretch-down 300ms ease 600ms 1 forwards;
}

.edit-list {
  position: relative;
  transform: translate(330px, -50px);
  color: inherit;
  z-index: 1;
}

.add-list-div {
  position: relative;
  top: 100px;
}

.list {
  vertical-align: top;
  display: inline-block;
  height: 90vh;
  width: 380px;
  margin: 50px 10px 10px 10px;
  overflow: hidden;
}

.lists {
  margin-left: 60px;
}

/*edit list div*/

.edit-list-white {
  background-color: white;
  position: relative;
  bottom: 1px;
  margin: 0px 4px;
  padding-bottom: 30px;
}



.edit-list-div {
  height: 340px;
  position: absolute;
  transform: translateY(-125px);
  width: 380px;
  z-index: 2;
}

.edit-list-header {
  text-align: center;
  font-weight: normal;
  position: relative;
  top: 7px;
  font-weight: normal;
}

.exit-edit {
  position: absolute;
  margin: 7px;
  left: 0px;
  font-size: 22px;
  z-index: 1;
}

.save-list-edit {
  font-size: 18px;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-top: 7px;
  margin-right: 3px;
}

.edit-list-input {
  border: none;
  position: relative;
  width: 90%;
  font-size: 33px;
  margin-top: 15px;
  margin-left: 15px;
}

.edit-list-input::placeholder {
  color: inherit;
  font-size: 14px;
}

.bottom-edit-list-div {
  background-color: white;
  width: 372px;
  margin-top: 1px;
  margin-left: 4px;
}

.delete-list, .item-delete {
  position: relative;
  border-radius: 25px;
  background-color: #EB683D;
  font-size: 18px;
  padding: 9px;
  width: 250px;
  z-index: 1;
  left: 60px;
  color: white;
  margin-top: 60px;
  margin-bottom: 30px;
}

.theme-buttons {
  position: relative;
  top: 30px;
  margin: 0 3px;
  padding-left: 7px;
  overflow: hidden;
  height: 78px;
}

.list-theme-header {
  margin: 0px 0px 5px 10px;
  color: inherit;
  text-align: left;
}



.theme-button-div {
  display: inline-block;
  position: relative;
  padding-top: 20px;
}

.theme-button-div button {
  transition: transform 200ms, border-width 200ms;
}

.theme-button-circle {
  vertical-align: top;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 15px;
  margin-right: 15px;
  padding: 0px;
}

.theme-button-circle-selected {
  border-width: 7px;
  border-style: solid;
  width: 30px;
  height: 30px;
  transform: scale(1.3);
}

/*list item stuff*/

.list-item-move-it-div-container {
  position: relative;
  padding: 5px;
}

.list-contents {
  height: 76vh;
  overflow: scroll;
  transform: translateY(20px);
}

.list-item-div {
  top: 133px;
  transition: height 3000ms;
}

.list-item {
  display: block;
  position: relative;
  overflow-x: hidden;
}

.add-list-item {
  position: relative;
  color: rgba(255,255,255,.4);
  font-size: 34px;
  margin-bottom: 30px;
}

.new-item-note {
  border: none;
  display: inline-block;
  color: rgba(255,255,255,.5);
  font-size: 18px;
  background-color: rgba(255,255,255,0);
  vertical-align: top;
  white-space: nowrap;
  flex-grow: 1;
  outline: none;
  resize: none;
  overflow: auto;
}

.item-note {
  display: block;
  color: white;
  padding: 5px 0px 5px 5px;
}

.item-note-text-area {
  width: 340px;
  padding-top: 10px;
  resize: none;
  background: none;
  color: white;
  border: none;
  font-size: 16px;
  outline: none;
  border-top: 1px dotted rgba(0,0,0,.3);
}

.item-div {
  position: relative;
  margin-right: 0px;
  justify-content: flex-end;
  background-color: rgba(50,50,50,.2);
  padding: 10px;
  width: 360px;
}

.item-div:hover .item-edit-buttons .item-edit {
  visibility: visible;
}

.item-name {
  padding-left: 5px;
  vertical-align: top;
  margin-right: 7px;
  width: 260px;
  color: white;
  display: inline-block;
  border: none;
  background: none;
  font-size: 16px;
  cursor: default;
}

.add-list-item-div {
  
}

.item-edit-buttons button, .item-delete, .save-item-edit, .edit-item-exit {
  font-size: 14px;
  color: rgba(255,255,255,.7);
}

.item-edit-buttons {
  width: 50px;
  display: inline-block;
}
.item-edit {
  visibility: hidden;
}

.move-it-button {
  width: 60px;
}

.add-list-item-name, .add-item-notes {
  background-color: white;
  width: 370px;
  margin-left: 5px;
  margin-bottom: 2px;
  padding-top: 1px;
}

.add-item-notes {
  padding-top: 10px;
}

.add-item-label {
  font-size: 14px;
  margin-left: 15px;
}

.add-item-name-input, .add-item-notes-input {
  background: white;
  display: block;
  text-decoration: none;
  border: none;
  color: inherit;
  font-size: 14px;
  padding: 5px 0px 10px 10px;
  width: 95%;
  margin-left: 5px;
}

.add-item-name-input {
  padding-bottom: 10px;
  text-decoration: underline;
}

.add-item-name-input::placeholder {
  color: inherit;
  text-decoration: none;
}

.add-item-notes {
}

.add-item-notes-input {
  resize: none;
  outline: none;
  min-height: 100px;
}

.add-item-exit {
  font-size: 25px;
  margin-left: 5px;
  color: inherit;
  transform: translateY(-5px);
  z-index: 3;
}

.new-item-header {
  text-align: center;
  transform: translateY(-15px);
}

.add-item-save {
  font-size: 14px;
  color: blue;
  right: 7px;
  transform: translateY(-62px);
}

.add-item-exit, .add-item-save {
  vertical-align: top;
  position: absolute;
  margin-top: 5px;
  text-shadow: 0px 0px inherit;
}

.add-item-save:hover {
  background-color: rgba(255,255,255,.5);
}

.edit-list-item-div {
  margin-top: 5px;
}

.edit-item-name-input {
  width: 100px;
}

.edit-item-exit {
  transform: translate(10px, -10px);
}

.item-delete {
 margin-top: 0px;
}

.save-item-edit:hover {
  background: rgba(255,255,255,.2);
}

.save-item-edit {
  top: 16px;
}

.item-delete {
}

.move-it-div {
  width: 360px;
  z-index: 1;
  margin-left: 20px;
}

.list-names {
  display: block;
  text-align: left;
  font-size: 14px;
  color: white;
  width: 60px;
  margin-top: 15px;
}

.list-names:hover, .exit-move-it-div:hover {
  opacity: .8;
}

.exit-move-it-div {
  position: absolute;
  color: white;
  right: 25px;
  margin-top: 5px;
}

.move-it-to {
  display: inline-block;
  font-size: 14px;
  color: white;
  height: 40px;
  width: 60px;
}

/*transitions*/

@keyframes select-theme-anm {
  0% {top: 150px;}
  100% {top: 80px;}
}

@keyframes move-add-list-button {
  0% {transform: translateX(0px);}
  100% {transform: translateX(400px);}
}

@keyframes stretch-right {
  0% {
    width: 0vw;
    min-width: 0px;
  }
  100% {
    width: 44vw;
    min-width: 450px;
  }
}

@keyframes stretch-right-less {
  0% {width: 35vw;}
  100% {width: 40vw;}
}

@keyframes stretch-left {
  0% {width: 44vw;}
  100% {width: 35vw;}
}

@keyframes fade {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes slide-left {
  0% {
    width: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  100% {
    width: 200px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

@keyframes stretch-down {
  0% {height: 0px;}
  100% {height: 106px;}
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms ease 400ms;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms;
}





.new-list-enter {
  width: 1px;
  height: 10px;
}

.new-list-enter.new-list-enter-active {
  width: 380px;
  height: 90vh;
  transition: width 300ms ease-in-out, height 250ms ease-in-out 550ms;
}

.new-list-leave {
  width: 380px;
  height: 90vh;
  margin-left: 10px;
  margin-right: 10px;
}

.new-list-leave.new-list-leave-active {
  width: 1px;
  height: 2px;
  margin-left: 0px;
  margin-right: 0px;
  transition: height 300ms ease-in-out, width 400ms ease-out 300ms, margin-top 250ms ease-in-out, margin-left 250ms ease 350ms, margin-right 250ms ease 350ms;
}





.new-list-item-enter {
  right: 400px;
  max-height: 0px;
  padding: 0px;
}

.new-list-item-enter.new-list-item-enter-active {
  right: 0px;
  max-height: 100px;
  padding: 5px;
  transition: max-height 400ms, padding 400ms, right 300ms ease 250ms;
}

.new-list-item-leave {
  left: 0px;
  max-height: 100px;
  padding: 5px;
}

.new-list-item-leave.new-list-item-leave-active {
  left: 400px;
  max-height: 0px;
  padding: 0px;
  transition: left 300ms, max-height 300ms ease 100ms,  padding 300ms ease 100ms;
}




.stretch-down-enter {
  max-height: 0px;
  opacity: 0;
}

.stretch-down-enter.stretch-down-enter-active {
  max-height: 400px;
  opacity: 1;
  transition: max-height 500ms, opacity 200ms;
}

.stretch-down-leave {
  max-height: 400px;
  opacity: 1;
}

.stretch-down-leave.stretch-down-leave-active {
  max-height: 0px;
  opacity: 0;
  transition: max-height 500ms, opacity 200ms;
}